<header class="flex items-center justify-center max-w-2xl mx-auto p-8">
  <nav class="w-full flex justify-between">
    <a href=" " class="">Inicio</a>
    <a href="#socialMedia">Redes Sociales</a>
    <a href="#projects" class="">Proyectos</a>
    <a href="#contac">Contacto</a>
  </nav>
</header>
