<header
  class="fixed flex justify-center w-full mx-auto p-4 backdrop-blur-xl z-50"
>
  <div class="w-full max-w-3xl mx-auto">
    <nav class="flex justify-between">
      <a href="#incio" class="">Inicio</a>
      <a href="#projects" class="">Proyectos</a>
      <a href="#">Tecnologías</a>

      <a href="#contac">Contacto</a>
    </nav>
  </div>
</header>
