---
import Badge from "../components/Badge.astro";
import Incio from "../components/Inicio.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Projects from "../components/projects.astro";
---

<Layout
  title="Portfolio Uxue Reyes, Desarrollador y Programador Web JR Front-End Jr"
  description="Contrata a Uxue, para el desarrollo de landing pages, "
>
  <main class="p-6">
    <SectionContainer class="incio">
      <section class="flex mt-20 mb-5 items-center">
        <section class="">
          <h1 class="text-4xl font-bold flex gap-x-3 pb-6 text-balance">
            Hola, soy Uxue ✌️!!
            <div class="flex items-center">
              <Badge>Disponible para trabajar</Badge>
            </div>
          </h1>
          <h2 class="opacity-70 text-lg text-balance">
            Estudiante de Ingeniería en Informática en el IPN. Apasionado por el
            desarrollo web, especialmente en frontend.Soy de <span
              class="text-green-500 opacity-60">México</span
            > 🌮.<br />Estoy abierto a nuevas oportunidades para seguir
            creciendo en esta área. 😊
          </h2>
        </section>
        <img
          class="size-48 rounded-full border-spacing-1"
          src="./public/UxueImage.webp"
          alt="uxue foto"
        />
      </section>
      <div class="">
        <Button link="https://github.com/Uxue404"> Github </Button>
        <Button link="https://www.linkedin.com/in/uxue-reyes-3247701a8/">
          LinkedIn
        </Button>
        <Button
          link="https://drive.google.com/file/d/1W5cFmqKitJKUKLV12qVTdfnSY6NW97gt/view?usp=sharing"
        >
          Descarga mi CV
        </Button>
      </div>
    </SectionContainer>

    <SectionContainer class="">
      <h2 class="mb-5 text-4xl">Proyectos</h2>
      <section class="grid grid-cols-2 gap-10">
        <Projects />
      </section>
    </SectionContainer>

    <SectionContainer>
      <h1>Proyectos</h1>
    </SectionContainer>

    <SectionContainer>
      <h1>contactame</h1>
    </SectionContainer>
  </main>
</Layout>
